/* App.css */
body {
  font-family: "Pretendard", sans-serif;
  background-color: #f9fafb;
  text-align: center;
  padding: 40px;
}

/* 전역 카드 스타일 */
.card {
  border: 2px solid #333;
  background-color: white;
  padding: 20px;
  width: 200px;
  margin: 10px auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* 전역 버튼 스타일 */
button {
  background-color: seagreen;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: darkgreen;
}

/* 바나나 클래스*/
.card.banana {
  background-color: yellowgreen;
}
